/* ==================
* GENESIS NORMALIZE *
================== */    
body, body.text-md {
      font-size: 12px;
}
 h1, .entry-content h1,
 h2, .entry-content h2,
 h3, .entry-content h3,
 h4, .entry-content h4,
 h5, .entry-content h5, 
 h6, .entry-content h6 {
     font-family: inherit;
      margin: 0.67em 0;
}
h1, .entry-content h1 { font-size: 3em; }
h2, .entry-content h2 { font-size: 2.5em; }
h3, .entry-content h3 { font-size: 2em; }
h4,.entry-content h4 { font-size: 1.5em; }
h5, .entry-content h5 { font-size: 1.25em; }
h6, .entry-content h6 { font-size: 1em; }

/* ==================
    * VARIABLES *
================== */
:root{
      /* Colors */
      --white: #fff;
      --black: #000000;
      --red: #f00;
      --blue: #0000ff;
      --yellow: #ffff00;
}
/* ==================
      * FONT *
================== */
.h1


/* ==================
   * CONTAINERS *
================== */
.container-lg, .container-md, .container-sm {
      padding: .8em;
      margin: .5em auto;
      overflow: hidden;
}

/* ==================
   * COMPONENTS *
================== */
.card{
  padding: 1em;
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: .3em;
}

/* ==================
      * SPACE *
================== */
.space-1em { gap: 1em; }
.space-2em { gap: 2em; }
.space-3em { gap: 3em; }
.space-4em { gap: 4em; }
.space-5em { gap: 5em; }
.space-6em { gap: 6em; }
.space-7em { gap: 7em; }
.space-8em { gap: 8em; }
.space-9em { gap: 9em; }
.space-10em { gap: 10em; }

/* ==================
      * GAP *
================== */
.gap-1em { gap: 1em; }
.gap-2em { gap: 2em; }
.gap-3em { gap: 3em; }
.gap-4em { gap: 4em; }
.gap-5em { gap: 5em; }
.gap-6em { gap: 6em; }
.gap-7em { gap: 7em; }
.gap-8em { gap: 8em; }
.gap-9em { gap: 9em; }
.gap-10em { gap: 10em; }


/* ==================
      * FLEX *
================== */
.flex { display: flex; }

/*- justify content -*/
.justify-center { justify-content: center; }
.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }

/*- align items -*/
.items-center { align-items: center; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-stretch { align-items: stretch; }


/* ==================
      * GRID *
================== */
.grid { display: grid;}

/* Large columns - MOBILE */
.col-1 { grid-template-columns: repeat(1, 1fr); }
.col-2 { grid-template-columns: repeat(2, 1fr); }
.col-3 { grid-template-columns: repeat(3, 1fr); }
.col-4 { grid-template-columns: repeat(4, 1fr); }
.col-5 { grid-template-columns: repeat(5, 1fr); }
.col-6 { grid-template-columns: repeat(6, 1fr); }
.col-7 { grid-template-columns: repeat(7, 1fr); }
.col-8 { grid-template-columns: repeat(8, 1fr); }
.col-9 { grid-template-columns: repeat(9, 1fr); }
.col-10 { grid-template-columns: repeat(10, 1fr); }
.col-11 { grid-template-columns: repeat(11, 1fr); }
.col-12 { grid-template-columns: repeat(12, 1fr); }

.col-span-1 { grid-column: span 1; }
.col-span-2 { grid-column: span 2; }
.col-span-3 { grid-column: span 3; }
.col-span-4 { grid-column: span 4; }
.col-span-5 { grid-column: span 5; }
.col-span-6 { grid-column: span 6; }
.col-span-7 { grid-column: span 7; }
.col-span-8 { grid-column: span 8; }
.col-span-9 { grid-column: span 9; }
.col-span-10 { grid-column: span 10; }
.col-span-11 { grid-column: span 11; }
.col-span-12 { grid-column: span 12; }

.row-span-1 { grid-row: span 1; }
.row-span-2 { grid-row: span 2; }
.row-span-3 { grid-row: span 3; }
.row-span-4 { grid-row: span 4; }
.row-span-5 { grid-row: span 5; }
.row-span-6 { grid-row: span 6; }
.row-span-7 { grid-row: span 7; }
.row-span-8 { grid-row: span 8; }
.row-span-9 { grid-row: span 9; }
.row-span-10 { grid-row: span 10; }
.row-span-11 { grid-row: span 11; }
.row-span-12 { grid-row: span 12; }

/* sm - small screen */
@media only screen and (min-width: 640px) {
      body, body.text-md { font-size: 14px; }

      .sm\:col-1 { grid-template-columns: repeat(1, 1fr); }
      .sm\:col-2 { grid-template-columns: repeat(2, 1fr); }
      .sm\:col-3 { grid-template-columns: repeat(3, 1fr); }
      .sm\:col-4 { grid-template-columns: repeat(4, 1fr); }
      .sm\:col-5 { grid-template-columns: repeat(5, 1fr); }
      .sm\:col-6 { grid-template-columns: repeat(6, 1fr); }
      .sm\:col-7 { grid-template-columns: repeat(7, 1fr); }
      .sm\:col-8 { grid-template-columns: repeat(8, 1fr); }
      .sm\:col-9 { grid-template-columns: repeat(9, 1fr); }
      .sm\:col-10 { grid-template-columns: repeat(10, 1fr); }
      .sm\:col-11 { grid-template-columns: repeat(11, 1fr); }
      .sm\:col-12 { grid-template-columns: repeat(12, 1fr); }

      .sm\:col-span-1 { grid-column: span 1; }
      .sm\:col-span-2 { grid-column: span 2; }
      .sm\:col-span-3 { grid-column: span 3; }
      .sm\:col-span-4 { grid-column: span 4; }
      .sm\:col-span-5 { grid-column: span 5; }
      .sm\:col-span-6 { grid-column: span 6; }
      .sm\:col-span-7 { grid-column: span 7; }
      .sm\:col-span-8 { grid-column: span 8; }
      .sm\:col-span-9 { grid-column: span 9; }
      .sm\:col-span-10 { grid-column: span 10; }
      .sm\:col-span-11 { grid-column: span 11; }
      .sm\:col-span-12 { grid-column: span 12; }

      .sm\:row-span-1 { grid-row: span 1; }
      .sm\:row-span-2 { grid-row: span 2; }
      .sm\:row-span-3 { grid-row: span 3; }
      .sm\:row-span-4 { grid-row: span 4; }
      .sm\:row-span-5 { grid-row: span 5; }
      .sm\:row-span-6 { grid-row: span 6; }
      .sm\:row-span-7 { grid-row: span 7; }
      .sm\:row-span-8 { grid-row: span 8; }
      .sm\:row-span-9 { grid-row: span 9; }
      .sm\:row-span-10 { grid-row: span 10; }
      .sm\:row-span-11 { grid-row: span 11; }
      .sm\:row-span-12 { grid-row: span 12; }
}

 /* md - medium screen */
@media (min-width: 768px) {
      .md\:col-1 { grid-template-columns: repeat(1, 1fr); }
      .md\:col-2 { grid-template-columns: repeat(2, 1fr); }
      .md\:col-3 { grid-template-columns: repeat(3, 1fr); }
      .md\:col-4 { grid-template-columns: repeat(4, 1fr); }
      .md\:col-5 { grid-template-columns: repeat(5, 1fr); }
      .md\:col-6 { grid-template-columns: repeat(6, 1fr); }
      .md\:col-7 { grid-template-columns: repeat(7, 1fr); }
      .md\:col-8 { grid-template-columns: repeat(8, 1fr); }
      .md\:col-9 { grid-template-columns: repeat(9, 1fr); }
      .md\:col-10 { grid-template-columns: repeat(10, 1fr); }
      .md\:col-11 { grid-template-columns: repeat(11, 1fr); }
      .md\:col-12 { grid-template-columns: repeat(12, 1fr); }

      .md\:col-span-1 { grid-column: span 1; }
      .md\:col-span-2 { grid-column: span 2; }
      .md\:col-span-3 { grid-column: span 3; }
      .md\:col-span-4 { grid-column: span 4; }
      .md\:col-span-5 { grid-column: span 5; }
      .md\:col-span-6 { grid-column: span 6; }
      .md\:col-span-7 { grid-column: span 7; }
      .md\:col-span-8 { grid-column: span 8; }
      .md\:col-span-9 { grid-column: span 9; }
      .md\:col-span-10 { grid-column: span 10; }
      .md\:col-span-11 { grid-column: span 11; }
      .md\:col-span-12 { grid-column: span 12; }

      .md\:row-span-1 { grid-row: span 1; }
      .md\:row-span-2 { grid-row: span 2; }
      .md\:row-span-3 { grid-row: span 3; }
      .md\:row-span-4 { grid-row: span 4; }
      .md\:row-span-5 { grid-row: span 5; }
      .md\:row-span-6 { grid-row: span 6; }
      .md\:row-span-7 { grid-row: span 7; }
      .md\:row-span-8 { grid-row: span 8; }
      .md\:row-span-9 { grid-row: span 9; }
      .md\:row-span-10 { grid-row: span 10; }
      .md\:row-span-11 { grid-row: span 11; }
      .md\:row-span-12 { grid-row: span 12; }
}

/* lg - large screen -*/
@media (min-width: 1024px) {
      body, body.text-md { font-size: 16px; }
      .lg\:col-1 { grid-template-columns: repeat(1, 1fr); }
      .lg\:col-2 { grid-template-columns: repeat(2, 1fr); }
      .lg\:col-3 { grid-template-columns: repeat(3, 1fr); }
      .lg\:col-4 { grid-template-columns: repeat(4, 1fr); }
      .lg\:col-5 { grid-template-columns: repeat(5, 1fr); }
      .lg\:col-6 { grid-template-columns: repeat(6, 1fr); }
      .lg\:col-7 { grid-template-columns: repeat(7, 1fr); }
      .lg\:col-8 { grid-template-columns: repeat(8, 1fr); }
      .lg\:col-9 { grid-template-columns: repeat(9, 1fr); }
      .lg\:col-10 { grid-template-columns: repeat(10, 1fr); }
      .lg\:col-11 { grid-template-columns: repeat(11, 1fr); }
      .lg\:col-12 { grid-template-columns: repeat(12, 1fr); }

      .lg\:col-span-1 { grid-column: span 1; }
      .lg\:col-span-2 { grid-column: span 2; }
      .lg\:col-span-3 { grid-column: span 3; }
      .lg\:col-span-4 { grid-column: span 4; }
      .lg\:col-span-5 { grid-column: span 5; }
      .lg\:col-span-6 { grid-column: span 6; }
      .lg\:col-span-7 { grid-column: span 7; }
      .lg\:col-span-8 { grid-column: span 8; }
      .lg\:col-span-9 { grid-column: span 9; }
      .lg\:col-span-10 { grid-column: span 10; }
      .lg\:col-span-11 { grid-column: span 11; }
      .lg\:col-span-12 { grid-column: span 12; }

      .lg\:row-span-1 { grid-row: span 1; }
      .lg\:row-span-2 { grid-row: span 2; }
      .lg\:row-span-3 { grid-row: span 3; }
      .lg\:row-span-4 { grid-row: span 4; }
      .lg\:row-span-5 { grid-row: span 5; }
      .lg\:row-span-6 { grid-row: span 6; }
      .lg\:row-span-7 { grid-row: span 7; }
      .lg\:row-span-8 { grid-row: span 8; }
      .lg\:row-span-9 { grid-row: span 9; }
      .lg\:row-span-10 { grid-row: span 10; }
      .lg\:row-span-11 { grid-row: span 11; }
      .lg\:row-span-12 { grid-row: span 12; }
}